etc/nginx/ssl.d/**
etc/nginx/ssl.d/backup/**
etc/nginx/ssl.d/bak/**
!etc/nginx/ssl.d/.gitkeep

etc/nginx/conf.d/*.conf
etc/nginx/conf.d/*.conf.bak

etc/mysql/conf.d/*.cnf
etc/mysql/conf.d/*.cnf.bak
!etc/mysql/conf.d/mysql.cnf.example

etc/mysql/mysql.conf.d/*.cnf
etc/mysql/mysql.conf.d/*.cnf.bak
!etc/mysql/mysql.conf.d/mysql.cnf.example


# OS
*~
.DS_Store
node_modules

# Compiled
/.cache
/_cache
/cache

/.build
/_build
/build

/.dist
/_dist
/dist

/.deploy
/_deploy
/deploy

/__docker__
/__docker-data__
/__docker-backup__
/__DOCKER-DATA__
/__docker-data-dev__
/__DOCKER-DATA-DEV__
/.docker
/.docker__

# Logs
logs
*.log
.env*
!.env.example

# IDEs
.idea
.project
.classpath
.c9
*.launch
.settings
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
