#!/usr/bin/env bash

cd "$(dirname "$0")" || exit
cd ..

DOMAIN="xxxx.com"
DOMAIN_ARGS=(-d "$DOMAIN")
#DOMAIN_ARGS=(-d "www.$DOMAIN" -d "$DOMAIN")
#DOMAIN_ARGS=(-d "*.$DOMAIN" -d "$DOMAIN")

echo " " >> "$HOME/.crontab.log" 2>&1

echo "$(date +%Y%m%d-%H%M%S)" acme-issue "${DOMAIN_ARGS[@]}" Start >> "$HOME/.crontab.log" 2>&1

docker-compose -f docker-compose.acme.yml up -d
docker exec acme.sh --issue --dns dns_dp "${DOMAIN_ARGS[@]}"

echo "$(date +%Y%m%d-%H%M%S)" acme-issue "${DOMAIN_ARGS[@]}" End >> "$HOME/.crontab.log" 2>&1

sh ./r-nginx-reload.sh
