*    *    *    *    *
-    -    -    -    -
|    |    |    |    |
|    |    |    |    +----- 星期中星期几 (0 - 6) (星期天 为0)
|    |    |    +---------- 月份 (1 - 12)
|    |    +--------------- 一个月中的第几天 (1 - 31)
|    +-------------------- 小时 (0 - 23)
+------------------------- 分钟 (0 - 59)

0 0 * * * /var/www/drr/_scripts/mysql-backup.sh  &> /dev/null
0 5 * * * /var/www/drr/_scripts/nginx-reload.sh  &> /dev/null
0 0 1 * * /var/www/drr/_scripts/acme-issue.sh  &> /dev/null
