#!/usr/bin/env bash

cd "$(dirname "$0")" || exit
cd ..

DOMAIN="xxxx.com"

#DOMAIN_ARGS="-d $DOMAIN"
#DOMAIN_ARGS="-d \"www.${DOMAIN}\" -d \"${DOMAIN}\""
DOMAIN_ARGS="-d \"*.${DOMAIN}\" -d \"${DOMAIN}\""

ISSUE_ARGS="--issue --dns dns_dp --server zerossl ${DOMAIN_ARGS}"
DOCKER_EXEC="docker exec acme.sh ${ISSUE_ARGS}"
echo "${DOCKER_EXEC}"

echo " " >> "$HOME/.crontab.log" 2>&1 # return line
echo "$(date +%Y%m%d-%H%M%S) ${DOCKER_EXEC}" >> "$HOME/.crontab.log" 2>&1

eval "${DOCKER_EXEC}"

sh ./nginx-reload.sh
